<!-- @format -->
{% extends "base.html" %}{% load static %} {% load template_filters %}
<!-- prettier-ignore -->
{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous"
/>
<script
	src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"
></script>
<link
	href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet"
	type="text/css"
/>{% endblock %} {% block navcontent %}
<a
	class="anim nav-link active"
	href="{% url 'teacher_home' %} "
	style="color: #eeeeee"
	>DEADLINES</a
>
<a
	class="anim nav-link active"
	href="{% url 'teacher_course' %}"
	style="color: #eeeeee"
	>COURSES</a
>
{% if is_committee %}
<a
	class="anim nav-link active"
	href="{% url 'teacher_committee' %}"
	style="color: #eeeeee"
	>COMMITTEE</a
>
{% endif %} {% if is_head %}
<a
	class="anim nav-link active"
	href="{% url 'teacher_head' %}"
	style="color: #eeeeee"
	>HEAD DASHBOARD</a
>
{% endif %}{% endblock %} {% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 10px">
	{% if failed %}
	<div class="alert alert-danger" role="alert">Deadline Editing Failed.</div>
	{% endif %} {% if success %}
	<div class="alert alert-success" role="alert">
		Deadline Editing Successful.
	</div>
	{% endif %}
	<div class="container" style="padding-left: 100px; padding-right: 100px">
		<div class="card" style="padding-left: 30px; padding-right: 30px">
			<div class="card-body">
				<h3 class="card-title" style="text-align: center">
					Edit Deadline
				</h3>
				<hr />
				<form action="edit_deadlines" method="POST">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="inputCourse">Course Code</label>
							<input
								type="text"
								id="inputCourse"
								class="form-control"
								name="inputCourse"
								value="{{ course_name }}"
								readonly
							>
							</input>
						</div>
						<div class="form-group col-md-4">
							<label for="inputCommittee">Deadline Status</label>
							<select
								id="status"
								class="form-control"
								name="status"
								required
							>
								<option selected value="Incomplete">
									Incomplete
								</option>
								<option selected value="Completed">
									Completed
								</option>
							</select>
						</div>
						<div class="form-group col-md-4">
							<label for="datepicker">Deadline</label>
							<input
								class="form-control"
								type="date"
								min="{{ current_date }}"
								placeholder="dd/mm/yyyy"
								name="inputDate"
								required
							/>
						</div>
					</div>
					<!--prettier-ignore-->
					<div class="form-group">
						<label for="inputDetails">Submission Details</label>
						<textarea
							type="text"
							id="inputDetails"
							class="form-control"
							name="inputDetails"
							required
						>{{ details }}</textarea>
					</div>
					<input type="hidden" name="old_date" value="{{current_date}}" />
					<input type="hidden" name="old_details" value="{{details}}" />
					<input type="hidden" name="old_status" value="{{status}}" />

					<input type="hidden" name="from" value="deadline" />
					<br />
					<div class="col text-center">
						<button
							type="submit"
							class="btn btn-success"
							style="text-align: center"
							value="submit"
							required
						>
							Edit Course
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$("#datepicker").datepicker({
		uiLibrary: "bootstrap4",
	});
</script>
{% endblock %} {% block scripts %} {% endblock %}
