<!-- @format -->

{% extends "base.html" %}{% load static %} {% block head %}

<style media="screen">
  .dtHorizontalVerticalExampleWrapper {
    max-width: 750px;
    margin: 0 auto;
  }

  #dtHorizontalVerticalExample th,
  td {
    white-space: nowrap;
  }

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
    bottom: 0.5em;
  }
</style>
<style>
  thead th {
    background-color: #4a7ab5;
    color: #ffffff;
    text-indent: 13px;
  }

  tbody tr {
    text-indent: 10px;
    background-color: white;
    color: black;
    font-family: "Nunito", sans-serif;
  }

  tbody tr:hover {
    cursor: pointer;
    background-color: #62757f;
    color: white;
  }
</style>

{% endblock %} {% block navcontent %}
{% if is_ngo_admin %}
<a
  class="anim nav-link active"
  href="{% url 'ngo_admin_home' %} "
  style="color: #eeeeee"
  >Dashboard</a
>

<a
  class="anim nav-link active"
  href="{% url 'ngo_admin_chw' %} "
  style="color: #eeeeee"
  >Health Workers</a
>

{% endif %} 
{% endblock %} {% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 10px">
  <h3 style="text-align: center">Health Workers</h3>

  <div class="container" style="align-self: center;  text-align: center; padding: 20px;">
    <a class="btn btn-primary" href="{% url 'ngo_admin_create_chw' %}" role="button">Create New Health Worker Profile</a>
  </div>

  <div class="container">
    <h5 style="text-align: center">
      Currently Employed Health Workers
    </h5>
  </div>

  <table
    class="table"
    id="dtHorizontalVerticalExampleWrapper"
    class="table table-bordered table-sm"
    cellspacing="0"
    width="100%"
    style="text-align: center; background-color: #ffffff"
  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Region</th>
      </tr>
    </thead>
    <tbody>
      {% for worker in health_workers %}
      <tr data-toggle="modal" data-target="#tbModal" class="trRecentCampaign">
        <td class="id">{{ worker.id }}</td>
        <td class="name">{{ worker.name }}</td>
        <td class="region">{{ worker.region }}</td>
        <td class="access_token" style="display:none;" >{{ worker.access_token }}</td>
        <td class="age" style="display:none;" >{{ worker.age }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>

<div class="modal fade" id="tbModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gfgmodallabel" style"text-align: center">Selected Health Worker</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <div class="modal-body">
	  <form class="ngo_admin_chw_edit" method="POST">
	  {% csrf_token %}
        <div class="GFGclass" id="divGFG"></div>
		</form>
        <div class="modal-footer row justify-content-center">
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script>
  $(function () {
    $(".trRecentCampaign").click(function () {
        var id = $(this).find(".id").text();
        var name = $(this).find(".name").text();
        var age = $(this).find(".age").text();
        var region = $(this).find(".region").text();
        var access_token = $(this).find(".access_token").text();

        var p = "";
        p += "<form action='edit_chw' method='POST'>"

		    p += '<div class="container">'
        p += '<h2 style="text-align: center" name="id">' + id + "</h2>";
        p += '<h5 style="text-align: center" name="name">' + name + "</h5>";
        p += '<h5 style="text-align: center" name="age"> Age: ' + age + "</h5>";
        p += '<h6 style="text-align: center" name="region">' + region + "</h6>";
        p += '</br><div style="display: flex; justify-content: center;" id ="qrcode" ></div>'
        p += '<input type="hidden" name="id" value="'+id+'"/>'
        p += '<input type="hidden" name="name" value="'+name+'"/>'
        p += '<input type="hidden" name="age" value="'+age+'"/>'
        p += '<input type="hidden" name="region" value="'+region+'"/>'
		    p += '<br/>'
        p += '<button type="submit" class="btn btn-success btn-lg btn-block" value="submit">Edit Health Worker Information.</button>'
        p += "</form>"
        p += '</div>'
        $("#divGFG").empty();
        $("#divGFG").append(p);
        new QRCode(document.getElementById("qrcode"), access_token);
    });
  });
</script>


{% endblock %}