<!-- @format -->

{% extends "base.html" %}{% load static %} {% block head %}

<style media="screen">
  .dtHorizontalVerticalExampleWrapper {
    max-width: 750px;
    margin: 0 auto;
  }

  #dtHorizontalVerticalExample th,
  td {
    white-space: nowrap;
  }

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
    bottom: 0.5em;
  }
</style>
<style>
  thead th {
    background-color: #4a7ab5;
    color: #ffffff;
    text-indent: 13px;
  }

  tbody tr {
    text-indent: 10px;
    background-color: white;
    color: black;
    font-family: "Nunito", sans-serif;
  }

  tbody tr:hover {
    cursor: pointer;
    background-color: #62757f;
    color: white;
  }
</style>

{% endblock %} {% block navcontent %}
{% if is_ngo_admin %}
<a
  class="anim nav-link active"
  href="{% url 'ngo_admin_home' %} "
  style="color: #eeeeee"
  >Content</a
>

<a
  class="anim nav-link active"
  href="{% url 'ngo_admin_quizboard' %} "
  style="color: #eeeeee"
  >Quiz</a
>
<a
  class="anim nav-link active"
  href="{% url 'ngo_admin_chw' %} "
  style="color: #eeeeee"
  >Health Workers</a
>

    <a
  class="anim nav-link active"
  href="{% url 'ngo_admin_profile' %} "
  style="color: #eeeeee"
  >Profile</a
>

{% endif %} 
{% endblock %} {% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 10px">
  <h3 style="text-align: center"><b>Content</b></h3>

  <div class="container" style="align-self: center;  text-align: center; padding: 20px;">
    <a class="btn btn-primary" href="{% url 'ngo_admin_create_content' %}" role="button">Create New Content</a>
  </div>

  <div class="container">
    <h5 style="text-align: center">
      Current Content Campaigns
    </h5>
  </div>

  <table
    class="table"
    id="dtHorizontalVerticalExampleWrapper"
    class="table table-bordered table-sm"
    cellspacing="0"
    width="100%"
    style="text-align: center; background-color: #ffffff"
  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Campaign Name</th>
        <th scope="col">Campaign Date</th>
      </tr>
    </thead>
    <tbody>
      {% for recentCampaign in future_campaign %}
      <tr data-toggle="modal" data-target="#tbModal" class="trRecentCampaign">
        <td class="recentTitle">{{ recentCampaign.title }}</td>
        <td class="recentDate">{{ recentCampaign.date }}</td>
        <td class="recentId" style="display:none;" >{{ recentCampaign.id }}</td>
        <td class="recentDetails" style="display:none;" >{{ recentCampaign.details }}</td>
        <td class="recentLink" style="display:none;" >{{ recentCampaign.associated_link }}</td>
        <td class="recentTags" style="display:none;" >{{ recentCampaign.tags }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>

</br>
  <div class="container">
    <h5 style="text-align: center">
      Past Content Campaigns
    </h5>
  </div>
  <table
  class="table"
  id="dtHorizontalVerticalExampleWrapper"
  class="table table-bordered table-sm"
  cellspacing="0"
  width="100%"
  style="text-align: center; background-color: #ffffff"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Campaign Name</th>
      <th scope="col">Campaign Date</th>
    </tr>
  </thead>
  <tbody>
    {% for recentCampaign in past_campagin %}
    <tr data-toggle="modal" data-target="#tbModal" class="trRecentCampaign">
      <td class="recentTitle">{{ recentCampaign.title }}</td>
      <td class="recentDate">{{ recentCampaign.date }}</td>
      <td class="recentId" style="display:none;" >{{ recentCampaign.id }}</td>
      <td class="recentDetails" style="display:none;" >{{ recentCampaign.details }}</td>
      <td class="recentLink" style="display:none;" >{{ recentCampaign.associated_link }}</td>
      <td class="recentTags" style="display:none;" >{{ recentCampaign.tags }}</td>
    </tr>
    {% endfor%}
  </tbody>
</table>
</div>


<div class="modal fade" id="tbModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gfgmodallabel" style"text-align: center">Selected Content</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <div class="modal-body">
	  <form class="deadline_completion" method="POST">
	  {% csrf_token %}
        <div class="GFGclass" id="divGFG"></div>
		</form>
        <div class="modal-footer row justify-content-center">
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script>
  $(function () {
    $(".trRecentCampaign").click(function () {
        var title = $(this).find(".recentTitle").text();
        var details = $(this).find(".recentDetails").text();
        var associated_link = $(this).find(".recentLink").text();
        var tags = $(this).find(".recentTags").text();
        var date = $(this).find(".recentDate").text();
        var id = $(this).find(".recentId").text();

        var p = "";
        p += "<form action='edit_content' method='POST'>"

		    p += '<div class="container">'
        p += '<h2 style="text-align: center" name="title">' + title + "</h2>";
        p += '<a href="'+associated_link+'" style="text-align: center" name="links"> <h5 style="text-align:center">' + associated_link + "</h5></a>";
        p += '<p style="text-align: center" name="tags"> Tags: ' + tags + "</p>";
        p += '<h5 style="text-align: center" name="date">' + date + "</h5>";

        p += '<input type="hidden" name="title" value="'+title+'"/>'
        p += '<input type="hidden" name="details" value="'+details+'"/>'
        p += '<input type="hidden" name="tags" value="'+tags+'"/>'
        p += '<input type="hidden" name="date" value="'+date+'"/>'
        p += '<input type="hidden" name="associated_link" value="'+associated_link+'"/>'
        p += '<input type="hidden" name="id" value="'+id+'"/>'
		p += '<br/>'
        p += '<button type="submit" class="btn btn-success btn-lg btn-block" value="submit">Edit Content.</button>'
        p += "</form>"
        p += '</div>'
        $("#divGFG").empty();
        $("#divGFG").append(p);
    });
  });
</script>
{% endblock %}