<!-- @format -->

{% extends "base.html" %}{% load static %} {% block head %}

<style media="screen">
  .dtHorizontalVerticalExampleWrapper {
    max-width: 750px;
    margin: 0 auto;
  }

  #dtHorizontalVerticalExample th,
  td {
    white-space: nowrap;
  }

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
    bottom: 0.5em;
  }
</style>
<style>
  thead th {
    background-color: #4a7ab5;
    color: #ffffff;
    text-indent: 13px;
  }

  tbody tr {
    text-indent: 10px;
    background-color: white;
    color: black;
    font-family: "Nunito", sans-serif;
  }

  tbody tr:hover {
    cursor: pointer;
    background-color: #62757f;
    color: white;
  }
</style>

{% endblock %} {% block navcontent %}
{% if is_superadmin %}
<a
  class="anim nav-link active"
  href="{% url 'super_admin_home' %} "
  style="color: #eeeeee"
  >NGOs</a
>

<a
  class="anim nav-link active"
  href="{% url 'super_admin_ngo_member' %} "
  style="color: #eeeeee"
  >NGO Members</a
>

{% endif %} 
{% endblock %} {% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 10px">
  <h3 style="text-align: center">NGOs</h3>

  <div class="container">
    <h5 style="text-align: center">
      Enlisted NGOs
    </h5>

    <div style="align-self: center;  text-align: center;">
        <a class="btn btn-primary" href="{% url 'super_admin_create_ngo' %}" role="button">Create New NGOs</a>
      </div>
  </div>

  <table
    class="table"
    id="dtHorizontalVerticalExampleWrapper"
    class="table table-bordered table-sm"
    cellspacing="0"
    width="100%"
    style="text-align: center; background-color: #ffffff"
  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">NGO Name</th>
        <th scope="col">NGO Detail</th>
        <th scope="col">Contact Point</th>
      </tr>
    </thead>
    <tbody>
      {% for ngo in ngo_list %}
      <tr data-toggle="modal" data-target="#tbModal" class="trNGOs">
        <td class="name">{{ ngo.ngo_name }}</td>
        <td class="shortcode">{{ ngo.ngo_shortCode }}</td>
        <td class="contactpoint">{{ ngo.contact_point }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>

<div class="modal fade" id="tbModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gfgmodallabel" style"text-align: center">Selected NGO Admin</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <div class="modal-body">
	  <form class="ngo_edit" method="POST">
	  {% csrf_token %}
        <div class="GFGclass" id="divGFG"></div>
		</form>
        <div class="modal-footer row justify-content-center">
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script>
  $(function () {
    $(".trNGOs").click(function () {
        var name = $(this).find(".name").text();
        var shortcode = $(this).find(".shortcode").text();
        var contactpoint = $(this).find(".contactpoint").text();

        var p = "";
        p += "<form action='edit_ngo' method='POST'>"

		    p += '<div class="container">'
        p += '<h5 style="text-align: center" name="name">' + name + "</h5>";
        p += '<h2 style="text-align: center" name="shortcode">' + shortcode + "</h2>";
        p += '<h5 style="text-align: center" name="contactpoint">' + contactpoint + "</h5>";

        p += '<input type="hidden" name="name" value="'+name+'"/>'
        p += '<input type="hidden" name="shortcode" value="'+shortcode+'"/>'
        p += '<input type="hidden" name="contactpoint" value="'+contactpoint+'"/>'
		p += '<br/>'
        p += '<button type="submit" class="btn btn-success btn-lg btn-block" value="submit">Edit Content.</button>'
        p += "</form>"
        p += '</div>'
        $("#divGFG").empty();
        $("#divGFG").append(p);
    });
  });
</script>
{% endblock %}